{
    "trailingComma": "none",
    "endOfLine": "lf",
    "useTabs": false,
    "tabWidth": 2,
    "overrides": [
        {
            "files": ["*.json", ".prettierrc"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
